/* лого #000000 */
/* цвет основного текста #757575 */
/* вторичный цвет текста #212121 */
/* акцент #2196F3 */
/* цвет теста футер rgba(255, 255, 255, 0,6)*/
:root {
  --logo-text-colour: #000000;
  --main-text-colour: #757575;
  --secondary-text-colour: #212121;
  --accent-colour: #2196f3;
  --footer-text-colour: rgba(255, 255, 255, 0, 6);
  --primary-white-colour: #ffffff;
  --footer-background: #2f303a;
  --background-color: #f5f4fa;
}
body {
  background-color: var(--primary-white-colour);
  color: var(--main-text-colour);
  font-family: Roboto, BlinkMacSystemFont, Oxygen, Ubuntu, Cantarell, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* Утилиты */
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;

  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}
ul {
  list-style: none;
  padding: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}
h1,
h2,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.hidden-header {
  display: none;
}
/* Header */
.container.nav {
  display: flex;
  align-items: center;
}
.logo {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo.first {
  color: var(--logo-text-colour);
}
.logo-accent {
  color: var(--accent-colour);
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .nav-item {
  color: var(--secondary-text-colour);

  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 21px;
  padding-bottom: 21px;
}
.site-nav .item + .item {
  margin-left: 50px;
}
.nav-item.active {
  color: var(--accent-colour);
}
.nav-item:hover,
.nav-item:focus {
  color: var(--accent-colour);
}
/* Контанкты */
.main-header-contacts {
  display: flex;
  margin-left: auto;
}

.header-contacts {
  color: var(--main-text-colour);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14px;
  letter-spacing: 0.02em;
}
.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-colour);
}
/* main section */
.section {
  outline: 2px solid blue;
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero {
  background-color: var(--footer-background);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.hero-title {
  color: var(--primary-white-colour);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 30px;
}

.button {
  display: inline-block;
  cursor: pointer;
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;

  color: var(--primary-white-colour);
  background-color: var(--accent-colour);

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
}
/* Чем мы занимаемся */
.flex-item {
  display: flex;
}

.section-header {
  color: var(--secondary-text-colour);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  margin-bottom: 50px;
}
.title {
  color: var(--secondary-text-colour);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section.no-padding {
  padding-top: 0px;
}

/* Team */

.section.team {
  background-color: var(--background-color);
}
.team-box {
  background-color: var(--primary-white-colour);
}
.team-member {
  color: var(--secondary-text-colour);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
.position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
/* Footer */
.footer {
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.logo.second {
  color: var(--primary-white-colour);
  display: inline-block;
  margin-bottom: 20px;
}
.address {
  color: var(--primary-white-colour);
  font-style: normal;
  margin-bottom: 9px;
}

.footer-contacts {
  color: var(--footer-text-colour);
  text-decoration: none;
  font-style: normal;
  display: inline-block;
}
.footer-contacts.margin {
  margin-bottom: 9px;
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-colour);
}
/* Portfolio */
.filter:hover,
.filter:focus {
  color: var(--primary-white-colour);
  background-color: var(--accent-colour);
}
.filter {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  border: transparent;
}
.filter.all {
  color: var(--primary-white-colour);
  background-color: var(--accent-colour);
}
.selection {
  display: flex;
}
.examples {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-title {
  color: var(--secondary-text-colour);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  margin-left: 24px;
}
.portfolio-descr {
  font-size: 16px;
  line-height: 1.87;
  margin-left: 24px;
}
